<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.faceplant">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Faceplant"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Faceplant">
        <activity android:name=".activities.plantCare.PlantCare_GeneralInfoActivity"></activity>
        <activity android:name=".activities.plantCare.PlantCare_NutritionActivity" />
        <activity android:name=".activities.plantCare.PlantCare_WaterActivity" />
        <activity android:name=".activities.plantCare.PlantCare_LightActivity" />
        <activity
            android:name=".activities.myPlants.ViewPlantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.myPlants.AddPlantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.plantCare.PlantCareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MySeedsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.myPlants.MyPlantsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>